.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 500px 500px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    justify-content: center;
    background-color: #fff;

}
.grid-test {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 300px;
    column-gap: 2px;
    background-repeat: no-repeat;
}
.bgimg {
    background: url(https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    border-radius: 5px;
    border: solid black 2px;
}
.bgimg0 {
    background: url(https://images.unsplash.com/photo-1486663845017-3eedaa78617f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
    background-position: left center;
    border-radius: 5px;
    border: solid black 2px;
}

.grid-item {
    background-color: #444444;
    color: whitesmoke;
    border-radius: 7px;
    border: solid black 2px;
    padding: 10px;
    text-align: center;

}

.grid-item:hover  {
    background-color: #8f7f7f;
    z-index: 0;
}

::selection {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.drop {
    display: none;
    list-style: none;
    grid-template-rows: 33% 33% 33%;
    padding: 3px;
    background-color: white;
    justify-items: center;
    width: 100%;
    row-gap: 30%;
    position: relative;
    overflow: auto;
}

.dropper {
    background: url(../images/dropdown.png);
    height: 20px;
    margin-left: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}


.dropper:hover .drop {
    display: block;
    position: relative
}

.drop a {
    text-decoration: none;
    color: black;
}

.hrwidth {
    width: inherit;
}