.grid {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    background-color: #fff;
    grid-gap: 15%;
}

.grid-item {
    background-color: #444444;
    color: whitesmoke;
    border-radius: 7px;
    height: auto;
    padding: 10px;
}